html{
    background-color:#f0f1f6;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Questrial;
  }

.top_background{
    background-color: #cad3f0;
    padding-bottom: 1rem;
}

.content{
    padding-top: 5rem;
    position: initial;
    text-align: center;
}

.typewriter-wrap{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Typewriter code sourced from 
https://codepen.io/denic/pen/GRoOxbM
*/

.typewriter-wrap .typewriter{
    width: 10.6ch;
    animation: typing 2s steps(25), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 5.75em;
    font-weight: 1000;
}

@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
        border-color: transparent
    }
}

.typewriter-wrap .typewriter, .description-wrap .description{
    line-height: 1.16;
    margin-top: 0;
    margin-bottom: 1rem;

}

.description-wrap{
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}

.description-wrap .description{
    font-size: 1.75rem;
}

@media only screen and (max-width: 800px) {
    .description-wrap{
        max-width: 22.5rem;
    }
    .typewriter-wrap .typewriter{
        font-size: 3.25rem;
    }
    .description-wrap .description{
        font-size: 1.35rem;
    }
    img{
        max-width: 75%;
    }

}
.top-image-container, .middle-image-container, .bottom-image-container{
    width: 100%;
    overflow: hidden;
}

.top-image-container{
    background-color: #cad3f0;
    display: flex;
    justify-content: center;
}

.middle-image-container{
    background-color: #aebfea;
    display: flex;
    justify-content: center;
}

.bottom-image-container{
    background-color: #f0f1f6;
    display: flex;
    justify-content: center;
}




