html{
    background-color:#f0f1f6;
}

html, body {
    padding: 0;
    margin: 0;
  }

body{
    font-weight: 500;
    font-size: 1.4rem;
    font-family: Questrial;
}

.header{
    padding: 3rem 2.4rem;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    z-index: 50;
}

.top_background{
    background-color: #cad3f0;
    padding-bottom: 1rem;
}

.header_links{
    background-color: transparent;
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    font-size: 0;
}

.header_links ul{
    left: auto;
    max-width: none;
    position: relative;
    top: auto;

}

.header_links li{
    display: inline-block;
}

.header_links__link{
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 0;
    line-height: 3.6rem;
    margin-left: 2.5rem;
    text-decoration: none;
    color:  #282a2d;
}

.home{
    padding-top: 12.5rem;
}

.hero__content{
    position: initial;
    color: #fff;
    text-align: center;
}

.wrap{
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    
}

h1, h2{
    letter-spacing: -0.02rem;
    max-width: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

.home h1{
    font-size: 5.5rem;
    line-height: 1.16;
    font-weight: 1000;
}

.home h2{
    font-size: 2rem;
    font-weight: 500;
}

.top-image-container{
    background-color: #cad3f0;
    display: flex;
    justify-content: center;
}

.middle-image-container{
    background-color: #aebfea;
    display: flex;
    justify-content: center;
}


.bottom-image-container{
    background-color: #f0f1f6;
    display: flex;
    justify-content: center;
}




